header {
    top: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  nav{
    position: relative;
    z-index: 100;
    display:flex;
    align-items: center;
    transition: align-items .2s;
    min-height: 8vh;
    background-color: black;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;

  }
  .nav-link{
    color: pink;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
  }
  .nav-links{
    display: flex;
    padding: 0;
    justify-content: space-around;
    width: 60%;
  }
  .nav-links li{
    list-style: none;
    position: relative;
  }
  .nav-links a{
    white-space: nowrap;
    color: pink;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
  }

  .dropdown-menu{
    background: pink;
  }
  .dropdown-menu a{
    color: black;
    font-weight: bold;
  }
  .nav-link:hover{
    color: pink;
    font-size: 20px;
  }
  .nav-links a:hover{
    font-size: 20px;
    border-bottom: 3px solid pink;
    border-left: 3px solid pink;
  }
  .burger{
    display: none;
    cursor: pointer;
  }
  .burger i{
    font-size: 1.5rem;
    margin: 20px 20px 0 0;
    transition: margin .2s;
    width: 25px;
    height: 5px;
    color: pink ;
  }
  
  @media only screen and (max-width:768px){
    body{
      overflow-x: hidden;
    }
    .page-content .text-box{
        display: none;
      }
    .nav-links{
      position: absolute;
      right: 0px;
      height: 80vh;
      top: 8vh;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 35%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    .nav-links li{
      opacity: 0;
    }
    .burger{
      display: block;
    }
    }
    .nav-active{
        transform: translateX(0%);
      }
      
      @keyframes navLinkFade{
        form{
          opacity: 0;
          transform: translateX(50px);
        }
        to{
          opacity: 1;
          transform: translateX(0px);
        }
      }